main {
	position: relative;
	display: block;
	max-width: 1250px;
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}
h1 {
	font-size: 20px;
	color: #882345;
	text-transform: uppercase;
	text-align: center;
}
section {
	position: relative;
	display: block;
	max-width: 840px;
	min-width: 600px;
	width: 100%;
	margin: 0px auto;
	padding: 15px;
	box-sizing: border-box;
}
article {
	padding: 30px 0px;
	border-bottom: 2px dashed #CCC;
}
p {
	position: relative;
	display: block;
	margin-bottom: 15px ;
	text-align: center;
	color: #AAA;

}
label {
	position: relative;
	display: inline-block;
	width: calc(98%/3);
	min-width: 200px;
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
	color: #CCC;
	font-size: 10px;
	text-transform: uppercase;
	vertical-align: top;
}
article:nth-child(4) label {
	width: calc(98%/4);
	min-width: 195px;
}
label:hover {
	color: #882345;
	cursor: pointer;
}
label > input {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
label > span {
	position: relative;
	display: inline-block;
	width: calc(100% - 30px);
	vertical-align: middle;
}
article:nth-child(4) label > span {
	width: 100%;
	display: block;
}
article:nth-child(4) label > select {
	margin-top: 10px;
	width: 100%;
}

button {
	position: relative;
	padding: 10px 40px;
	margin: 5px;
	border: 1px solid #5c102a;
	border-radius: 5px;
	background-color: #FFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #5c102a;
	text-transform: uppercase;
	cursor: pointer;
}
button:hover {
	background-color: #5c102a;
	color: #FFF;
}