main {
	position: relative;
	display: block;
	max-width: 1250px;
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}
section {
	position: relative;
	display: block;
	max-width: 600px;
	width: 100%;
	margin: 0px auto;
	padding: 15px;
	box-sizing: border-box;
}
p {
	position: relative;
	display: block;
	margin-bottom: 15px ;
	text-align: center;


}
p:nth-child(4) {
	margin-bottom: 50px;
}
button {
	position: relative;
	padding: 10px 40px;
	margin: 5px;
	border: 1px solid #882345;
	border-radius: 5px;
	background-color: #FFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #882345;
	text-transform: uppercase;
	cursor: pointer;
}
button:hover {
	background-color: #882345;
	color: #FFF;
}